<div *ngFor="let tf of tableFilters" class="legend-element">
    <div class="label"> {{tf.filterComponent.filterLabel}}:
    <div [ngSwitch]="tf.filterComponent.filterTypeStr">
        <ng-container *ngSwitchCase="'range'">
            {{getFilterMin(tf.filterComponent)}} - {{getFilterMax(tf.filterComponent)}}
        </ng-container>
        <ng-container *ngSwitchCase="'select'">
            {{tf.filterComponent.getComparator('==').value}}
        </ng-container>

    </div>

    </div> <div class="color-indicator" [style.background]="tf.filterComponent.color"></div>
</div>
