<div class="slider-container">
  <span><input type="checkbox" #enableAtomicWeightFilter (change)="updateView($event)"></span>
  <fieldset style="display: inline-block" [disabled]="!enableAtomicWeightFilter.checked"
            [style.background]="enableAtomicWeightFilter.checked ? 'lightgreen' : 'white'">
    <span>Atomic weight</span> <span style="width:20px; margin-right: 20px;"></span>
    <label for="atomic-weight-min">min</label>
    <input type="range" min="0" max="200" value="0" class="slider" id="atomic-weight-min"
           (input)="setFilterValue('aw', 'min', $event)" #awMinValue>

    <label for="atomic-weight-max">max</label>
    <input type="range" min="0" max="200" value="200" class="slider" id="atomic-weight-max"
           (input)="setFilterValue('aw', 'max', $event)" #awMaxValue>

    <span>{{awMinValue.value}} - {{awMaxValue.value}}</span>
  </fieldset>

</div>
